
#body img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto !important;
}

body {
  font-weight: 400 !important;
}

#sidebar {
  font-weight: 400 !important;
}

#header {
  font-family: "Segoe UI", sans-serif !important;
  font-size: 2.5em !important;
  color: #FFF !important;
}
#header a {
  color: #FFF !important;
}

.small-subtitle {
  font-size: 0.9em;
  margin: -40px auto 2.5rem auto;
  font-style: italic;
  text-align: center;
}

#body-inner a {
  display: initial !important;
  -webkit-transition: text-decoration 5s ease;
  -moz-transition: text-decoration 5s ease;
  -ms-transition: text-decoration 5s ease;
  transition: text-decoration 5s ease;
}
#body-inner a:hover {
  text-decoration: underline !important;
  -webkit-transition: text-decoration 5s ease;
  -moz-transition: text-decoration 5s ease;
  -ms-transition: text-decoration 5s ease;
  transition: text-decoration 5s ease;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
